{% extends "layout.html.twig" %}

{% block page_title %}
    Inscription
{% endblock %}

{% block content %}

    <div class="text-center">
        {{ form(form, {attr:{novalidate: 'novalidate' }}) }}    </div>
    </div>
{% endblock %}