/********** BASE ***********/

body {
    color: white;
}


/* Couleur des textes */
.text-vanille {
    color: rgb(225,206,154);
}


/* Couleur des boutons */
.btn-vanille {
    background-color: rgb(225, 206, 154);
}


/* Couleur des backgrounds */
.bg-base {
    background-color: #0f1023;
}

.bg-bleuRoi {
    background-color: rgb(38, 40, 89);
}

.bg-bleuMarine {
    background-color: rgb(23, 24, 53);
}



/******** PAGE ACCUEIL ********/

/* Background */
@media (min-width: 768px) {
    .bg-accueil {
        background-image: url(Asset/img/SQYBlueArch.jpg);
        background-size: cover;
        min-height: 400px;
    }
}

@media (min-width: 992px) {
    .bg-accueil {
        min-height: 750px;
    }

    .recherche-wrap {
       margin-top: 200px;
        
    }
}


/******* PAGE CONTACT *******/

/* icones favoris sur les photos */
.coeur {
    top: 70px;
    right: 3px;
}

@media (min-width: 768px) {
    .bg-contact {
        background-image: url(Asset/img/singeGuitare.jpg);
        background-size: cover;
        min-height: 400px;
    }
}