/*------------------------------------------------------------------

    [Main Style Stylesheet]
    Project:       SQY Land
    Version:        1
    Author:         Stéphane, Aléxis, Christopher
    Last change:    10/01/2019


-------------------------------------------------------------------

    [Table of contents]
    01. Base

    02. Components 
    03. Header
    04. Menu
    05. Page Accueil

    06. Page Resultats
    07. Page Inscription
    07. Page Connexion / Connexion admin
    08. Page Contact 
    09. Footer 
    10. Page 404
-------------------------------------------------------------------*/

/********** BASE ***********/

body {
    color: white;
}


/* Couleur des textes */
.text-vanille {
    color: rgb(225,206,154);
}


/* Couleur des boutons */
.btn-vanille {
    background-color: rgb(225, 206, 154) !important;
}


/* Couleur des backgrounds */
.bg-base {
    background-color: #0f1023;
}

.bg-bleuRoi {
    background-color: rgb(38, 40, 89);
}

.bg-bleuMarine {
    background-color: rgb(23, 24, 53);
}



/******** PAGE ACCUEIL ********/

/* Background */
@media (min-width: 768px) {
    .bg-accueil {
        background-image: url(../images/SQYBlueArch.jpg);
        background-size: cover;
        min-height: 400px;
    }
}

@media (min-width: 992px) {
    .bg-accueil {
        min-height: 750px;
    }

    .recherche-wrap {
       margin-top: 200px;
        
    }
}


/******* PAGE INSCRIPTION *********/

#artiste {
    color: white;
    margin-bottom: 10px;
}

/* Bouton inscription */
#artiste_submit {
    /* btn-block */
    display: block;
    width: 100%;

    /* btn-vanille */
    background-color: rgb(225, 206, 154);
    border-color: rgb(225, 206, 154);

    /* btn-lg */
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
}



/******* PAGE CONNEXION / CONNEXION ADMIN *******/

@media (min-width: 375px) {
    .connexion_user_wrap, .connexion_admin_wrap {
        min-height: 550px;
    }
}

@media (min-width: 768px) {
    .connexion_user_wrap, .connexion_admin_wrap {
        min-height: 700px;
    }
}

@media (min-width: 992px) {
    .connexion_user_wrap, .connexion_admin_wrap {
        min-height: 800px;
    }

}
/* Bouton connexion */
#security_connexion_submit{
    /* btn-block */
    display: block;
    width: 100%;

    /* btn-vanille */
    background-color: rgb(225, 206, 154);
    border-color: rgb(225, 206, 154);

    /* btn-lg */
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
}






/******* PAGE CONTACT *******/

/* icones favoris sur les photos */
.coeur {
    top: 70px;
    right: 3px;
}

@media (min-width: 768px) {
    .bg-contact {
        background-image: url(../images/singeGuitare.jpg);
        background-size: cover;
        min-height: 400px;
    }
}