{% extends 'base.html.twig' %}

{% block title %}Edit Artiste{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

{% endblock %}

{% block body %}

    {% include 'component/_header.html.twig' %}
    <h1>Edit Artiste</h1>

    {{ include('artiste/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('artiste_index') }}">back to list</a>

    {{ include('artiste/_delete_form.html.twig') }}

    {% include 'component/_footer.html.twig' %}

{% endblock %}
