{% extends 'base.html.twig' %}

{% block title %}New Sudo{% endblock %}

{% block body %}
    <h1>Create new Sudo</h1>

    {{ include('sudo/_form.html.twig') }}

    <a href="{{ path('sudo_index') }}">back to list</a>
{% endblock %}
