{% if is_granted('ROLE_ADMIN') %}
<form method="post" action="{{ path('contenu_delete', {'id': contenu.id}) }}" onsubmit="return confirm('????? Vous êtes VRAIMENT sûr de supprimer tout l\'affichage du site ??????? ');">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contenu.id) }}">
        <button class="btn btn-danger supericon" title="???? Supprimer le contenu du site ????">&#128501;</button>
    </form>
{% endif %}
