{% extends 'layout.html.twig' %}
{#{% if is_granted('ROLE_ADMIN') %}#}

{% block title %}Modifier le contenu n° {{ contenu.id }}{% endblock %}


{% block content %}

<div class="container">
    <h1>Modifier ce contenu</h1>

    <div class="text-left col-3">
        <a href="{{ path('contenu_index') }}" class="btn btn-primary" title="Retour à la liste">Retour à la liste</a>
        {{ include('contenu/_delete_form.html.twig') }}
    </div>

    {{ include('contenu/_form.html.twig', {'button_label': 'Mettre à jour '}) }}

</div>

{% endblock %}

{% block final_javascripts %}
    <script src="https://cdn.ckeditor.com/4.11.1/standard/ckeditor.js"></script>

    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script>
        CKEDITOR.replace( 'contenu[presentationText]' );
        CKEDITOR.replace( 'contenu[mentions]' );
        CKEDITOR.replace( 'contenu[presse]' );
        $('.dropify').dropify({
            messages: {
                default: 'Glissez-d&eacute;posez un fichier ici ou cliquez',
                replace: 'Glissez-d&eacute;posez un fichier ou cliquez pour remplacer',
                remove:  'Supprimer',
                error:   'D&eacute;sol&eacute;, le fichier est trop volumineux'
            }
        });
    </script>
{%  endblock %}
{#{% endif %}#}
