{% extends 'layout.html.twig' %}

{#{% if is_granted('ROLE_ADMIN') %}#}

{% block title %}Création d'un contenu {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
{% endblock %}


{% block content %}
    <div class="container">
        <h1>Créer un nouveau contenu</h1>

        <div class="text-left">
            <a href="{{ path('contenu_show') }}" class="btn btn-primary" title="Retour à l'accueil">Retour à l'accueil</a>
        </div>

        {% for message in app.flashes('notice') %}
            <div class="alert alert-info">
                {{ message }}
            </div>

        {% endfor %}

        {{ include('contenu/_form.html.twig') }}

    </div>

{% endblock %}

{% block final_javascripts %}
    <script src="https://cdn.ckeditor.com/4.11.1/standard/ckeditor.js"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script>
        CKEDITOR.replace( 'contenu[presentationText]' );
        CKEDITOR.replace( 'contenu[mentions]' );
        CKEDITOR.replace( 'contenu[presse]' );
        $('.dropify').dropify({
            messages: {
                default: 'Glissez-d&eacute;posez un fichier ici ou cliquez',
                replace: 'Glissez-d&eacute;posez un fichier ou cliquez pour remplacer',
                remove:  'Supprimer',
                error:   'D&eacute;sol&eacute;, le fichier est trop volumineux'
            }
        });
    </script>
{%  endblock %}
{#{% endif %}#}
