{% extends 'layout.html.twig' %}

{% block title %}Contenu{% endblock %}

{% block content %}

        <div class="container p-5 bg-bleuRoi">      
            
            <p>{{ contenu.presse }}</p>
            <p><a href="{{ asset ('/images/'~contenu.presseDoc) }}">téléchargez la version pdf</a></p>

        </div>


        {#{% if is_granted('ROLE_ADMIN') %}#}
        <a href="{{ path('contenu_index') }}" class="btn btn-vanille">Retour</a>

        <a href="{{ path('contenu_edit', {'id': contenu.id}) }}">edit</a>
        
        {#{% endif %}#}


    </div> <!-- /.container -->
</div> <!-- /.container-fluid -->
 

{% endblock %}

