{% extends 'layout.html.twig' %}

{% block title %}Contenu{% endblock %}

{% block content %}



    <div class="container p-5 bg-bleuRoi">

        <p>{{ contenu.mentions | raw }}</p>

    </div>


    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('contenu_index') }}">back to list</a>

    <a href="{{ path('contenu_edit', {'id': contenu.id}) }}">edit</a>

    {% endif %}

    </div>

    </div>

{% endblock %}


