<div class="container-fluid bg-bleuMarine">
    <div class="container">

        <!--**********************************************************
        //////////////////////////  FOOTER  //////////////////////////
        ***********************************************************-->
        <div class="row">
            <div class="col">
                <footer class="mt-3">

                    <div class="row">

                        <div class="col-sm-4">
                            <ul>
                                <li><a href="#">lien 1</a></li>
                                <li><a href="#">lien 2</a></li>
                                <li><a href="#">lien 3</a></li>
                            </ul>
                        </div> <!-- /.col -->
    
    
                        <div class="col-sm-4">
                            <ul>
                                <li><a href="#">lien 4</a></li>
                                <li><a href="#">lien 5</a></li>
                                <li><a href="#">lien 6</a></li>
                            </ul>
                        </div> <!-- /.col -->
    
    
                        <div class="col-sm-4">
                            <ul>
                                <li><a href="#">lien 7</a></li>
                                <li><a href="#">lien 8</a></li>
                                <li><a href="#">lien 9</a></li>
                            </ul>
                        </div> <!-- /.col -->

                    </div> <!-- /.row -->

                </footer>
            </div> <!-- /.col -->
        </div> <!-- /.row -->
            
    </div> <!-- /.container -->
</div> <!-- /.container-fluid -->