<div class="container-fluid bg-base bg-accueil">
    <div class="container">

        <!--*********************************************
        /////////////////////  HEADER  //////////////////
        **********************************************-->
        <header class="mb-3">
            <!--///////////////  NAVBAR  /////////////////-->
            <nav class="navbar navbar-expand-lg navbar-dark">
                <a class="navbar-brand text-white" href="{{ path('contenu_show') }}">SQYLand</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-lg-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('artiste_index') }}">Artiste</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">Connexion</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('message_new') }}">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>

        </header>