<!--////////////////  BARRE DE RECHERCHE  ////////////////-->
<div class="row">
    <div class="col-md-12">
        <section class="recherche mb-5">

            <form>
                <input class="form-control form-control-lg mr-sm-2" type="search" placeholder="Rechercher">
                <button class="btn btn-block btn-lg btn-vanille my-2" type="submit">Rechercher</button>
            </form>

        </section> <!-- /.recherche -->
    </div> <!-- /.col -->
</div> <!-- /.row -->

