<!--******** Barre de recherche ********-->
<section class="mb-5">

    <form>
        <input class="form-control form-control-lg mr-sm-2" type="search" placeholder="Rechercher">
        <button class="btn btn-block btn-lg btn-vanille my-2" type="submit">Rechercher</button>
    </form>

</section> <!-- /.barre de recherche -->


