{% extends 'layout.html.twig' %}

{#{% if is_granted('ROLE_ADMIN') %}#}

{% block title %}Edit Message{% endblock %}

{% block body %}

<div class="container">
    <h1>Modifier ce message</h1>

    <div class="text-left col-3">
        <a href="{{ path('message_index') }}" class="btn btn-primary" title="Retour à la liste">Retour à la liste</a>
    </div>

    {{ include('message/_form.html.twig', {'button_label': 'Mettre à jour '}) }}

    <!-- <div class="text-left col-3">
        <a href="{{ path('message_index') }}" class="btn btn-primary" title="Retour à la liste">Annuler </a>
    </div> -->

</div>

{% endblock %}
{#{% endif %}#}


