{% extends 'layout.html.twig' %}

{% block title %}Contact{% endblock %}

{% block content %}

    <div class="container">

        <h1>Contact</h1>

        <div class="text-left">
            <a href="{{ path('message_index') }}" class="btn btn-vanille" title="Retour à la liste">Retour à la liste</a>
        </div>



        {% for message in app.flashes('notice') %}
            <div class="alert alert-info">
                {{ message }}
            </div>
        {% endfor %}


        {{ include('message/_form.html.twig') }}


    </div>

    

{% endblock %}
