{% extends 'layout.html.twig' %}

{#{% if is_granted('ROLE_ADMIN') %}#}

{% block title %}Modifier la catégorie {{ categorie.nom }}{% endblock %}

{% block content %}

<div class="container">
    <h1>Modifier cette catégorie</h1>

    <div class="text-left col-3">
        <a href="{{ path('categorie_index') }}" class="btn btn-primary" title="Retour à la liste">Retour à la liste</a>
        {{ include('categorie/_delete_form.html.twig') }}
    </div>

    {{ include('categorie/_form.html.twig', {'button_label': 'Mettre à jour '}) }}

</div>

{% endblock %}

{#{% endif %}#}