{% extends 'layout.html.twig' %}

{#{% if is_granted('ROLE_ADMIN') %}#}

{% block title %}Création d'une catégorie{% endblock %}

{% block content %}
    <div class="container">
        <h1>Créer une nouvelle catégorie</h1>

        <div class="text-left">
            <a href="{{ path('categorie_index') }}" class="btn btn-primary" title="Retour à la liste">Retour à la liste</a>
        </div>

        {% for message in app.flashes('notice') %}
            <div class="alert alert-info">
                {{ message }}
            </div>

        {% endfor %}

        {{ include('categorie/_form.html.twig') }}

    </div>

{% endblock %}

{#{% endif %}#}
